body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 800px; /* Adjusted width to accommodate side-by-side layout */
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, input[type="file"], button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select:focus, input[type="file"]:focus, button:focus {
    outline: none;
    border-color: #007BFF;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.image-container {
    margin-left: 20px;
    width: 50%; /* Adjusted width to fit the layout */
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
